<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VaccineRegister</servlet-name>
        <servlet-class>org.health.vaccine.VaccineRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HealthCenter</servlet-name>
        <servlet-class>org.health.vaccine.HealthCenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayvaccine</servlet-name>
        <servlet-class>org.health.vaccine.displayvaccine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>healthdisplayservlet</servlet-name>
        <servlet-class>org.health.vaccine.healthdisplayservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaccineRegister</servlet-name>
        <url-pattern>/VaccineRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>distribution</servlet-name>
        <jsp-file>/distribution.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>distribution</servlet-name>
        <url-pattern>/distribution</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registration</servlet-name>
        <jsp-file>/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HealthCenter</servlet-name>
        <url-pattern>/HealthCenter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>interface</servlet-name>
        <jsp-file>/interface.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>interface</servlet-name>
        <url-pattern>/interface</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>report</servlet-name>
        <jsp-file>/report.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>display</servlet-name>
        <jsp-file>/display.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayvaccine</servlet-name>
        <url-pattern>/displayvaccine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>healthdisplayservlet</servlet-name>
        <url-pattern>/healthdisplayservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
